@import "../../styles/_main";

.section__title {
    @include flex__row;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    &--text {
        @extend .bebas__regular--50;
        white-space: nowrap;
    }

    &--line {
        width: 8.8rem;
        border: 1px solid $color__secondary;
    }
}