@mixin padding {
    padding: 0 20rem;
}

@mixin flex {
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex;
}

@mixin flex__row {
    @include flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
}

@mixin flex__column {
    @include flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}
