@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Poppins:wght@400;500;600;700&display=swap');

.poppins {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
 
    &__regular {
        @extend .poppins;
        font-weight: 400;

        &--12 {
            @extend .poppins__regular;
            font-size: 1.2rem;
        }

        &--14 {
            @extend .poppins__regular;
            font-size: 1.4rem;
        }

        &--16 {
            @extend .poppins__regular;
            font-size: 1.6rem;
        }

        &--20 {
            @extend .poppins__regular;
            font-size: 2rem;
        }
    }    

    &__medium {
        @extend .poppins;
        font-weight: 500;

        &--14 {
            @extend .poppins__medium;
            font-size: 1.4rem;
        }

        &--16 {
            @extend .poppins__medium;
            font-size: 1.6rem;
        }

    }
    
    &__semibold {
        @extend .poppins;
        font-weight: 600;

        &--20 {
            @extend .poppins__semibold;
            font-size: 2rem;
        }

        &--22 {
            @extend .poppins__semibold;
            font-size: 2.2rem;
        }
    }

    &__bold {
        @extend .poppins;
        font-weight: 700;
    
        &--20 {
            @extend .poppins__bold;
            font-size: 2rem;
        }
    }
}

.bebas__regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &--20 {
        @extend .bebas__regular;
        font-size: 2rem;
    }

    &--32 {
        @extend .bebas__regular;
        font-size: 3.2rem;
    }

    &--50 {
        @extend .bebas__regular;
        font-size: 5rem;
    }

    &--60 {
        @extend .bebas__regular;
        font-size: 6rem;
    }

    &--130 {
        @extend .bebas__regular;
        font-size: 13rem;
    }

    &--200 {
        @extend .bebas__regular;
        font-size: 20rem;
    }
}
