@import "../../styles/_main";

// Main styles
.nav {
    @include flex__row;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;

    padding: 0 20rem;

    .logo__container {
        @include flex__row;
        -webkit-box-align: center;
        -ms-flex-align: center;

        align-items: center;    
        height: 10rem;
    }

    &__links {
        @include flex__row;
        gap: 2rem;
        align-items: center;
        -webkit-box-align: center;
        -ms-flex-align: center;

        & li {
            list-style: none;
        }
    }

    .link {
        text-decoration: none;
        color: $color--secondary;
        @extend .poppins__regular--16;

        transition: all .3s;
        -webkit-transition: all .3s;
        -moz-transition: all .3s; 
        -o-transition: all .3s;

        &:hover {
            color: $color--primary;
        }
    }
}
