@import "../../styles/_main";

.exclusive__item {
    @include flex__column;
    gap: 2rem;
    
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;

    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;

    padding: 4rem;
    border-radius: 0.6rem;
    -webkit-border-radius: 0.6rem;
    -moz-border-radius: 0.6rem;

    text-align: center;
    background-color: transparent;
    transition: all 0.3s;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;

    &:hover {
        background-color: $color__background--grey;
    }

    &--image {
        filter: drop-shadow(1rem 2rem 1rem #000000);
        -moz-filter: drop-shadow(1rem 2rem 1rem #000000);
        -webkit-filter: drop-shadow(1rem 2rem 1rem #000000);
    }

    &--title {
        @extend .poppins__semibold--20;
        color: $color--primary;
    }

    &--description {
        @extend .poppins__regular--16;
        color: $color__text--dim;
        inline-size: 22.3rem;
    }

    &--price {
        @extend .poppins__bold--20;
        color: $color--secondary;
    }
}
